body{

font-family:Arial;

background:#ececec;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.contenedor{

background:white;

padding:30px;

width:350px;

border-radius:12px;

box-shadow:0 0 15px rgba(0,0,0,.2);

}

input{

width:100%;

padding:10px;

margin-bottom:15px;

}

button{

width:100%;

padding:12px;

cursor:pointer;

}